__pycache__/      # Временные файлы Python (не нужны в контейнере)
*.pyc             # Скомпилированный код Python
venv/             # Ваше локальное виртуальное окружение (в Docker свой Python)
.env              # Локальные пароли (секреты нельзя зашивать в образ!)
.git              # История коммитов Git
.idea/ / .vscode/ # Настройки вашей среды разработки
